<%= partial 'side_nav' %>
<div class="code-background">
  <div class="code-background-actual"></div>
</div>
<div class="main-content">
  <%= partial 'introduction' %>
  <%= partial 'pmp_network' %>
  <%= partial 'authentication' %>
  <%= partial 'endpoints' %>
  <%= partial 'errors' %>
  <%= partial 'patient_request' %>
  <%= partial 'patient_request__minimal' %>
  <%= partial 'patient_response' %>
  <%= partial 'patient_response__disallowed' %>
  <%= partial 'patient_response__error' %>
  <%= partial 'report_request' %>
  <%= partial 'report_request__minimal' %>
</div>
