<div class="code-background">
  <div class="code-background-actual"></div>
</div>
<div class="main-content">
  <%= partial 'introduction' %>
  <%= partial 'authentication' %>
  <%= partial 'endpoints' %>
  <%= partial 'score_request' %>
  <%= partial 'score_request__errors' %>
  <%= partial 'score_request__simple_example' %>
  <%= partial 'score_request__comprehensive_example' %>
  <%= partial 'report_request' %>
  <%= partial 'report_request__errors' %>
  <%= partial 'report_request__simple_example' %>
  <%= partial 'report_request__comprehensive_example' %>
</div>
