<%= partial 'side_nav' %>
<div class="code-background">
  <div class="code-background-actual"></div>
</div>
<div class="main-content">
  <%= partial 'introduction' %>
  <%= partial 'authentication' %>
  <%= partial 'endpoints' %>
  <%= partial 'errors' %>
  <%= partial 'gateway_request' %>
  <%= partial 'gateway_request__minimal' %>
  <%= partial 'gateway_responses' %>
  <%= partial 'responses__no_data' %>
  <%= partial 'responses__error' %>
  <%= partial 'responses__disallowed' %>
</div>
